---
---

<!DOCTYPE html>
<html lang="en">
  {% include_relative inc/head.html %}
  <body>
    {% include_relative inc/header.html %}
    <main class="cardPage">
      <div class="container">
        <div class="title-bx">
          <a href="index.html" class="logo" title="Go to main page"> </a>
          <p class="title">
            <span data-aos="fadeIn" data-aos-duration="1500" data-aos-delay="100">Okay, now we will meet your soulmate.</span>
            <span data-aos="fadeIn" data-aos-duration="1500" data-aos-delay="300"> Calm your mind again <br />and shuffle your soulmate cards.</span>
          </p>
        </div>

        <div data-aos="fadeIn" data-aos-duration="1500" data-aos-delay="500">
          <img src="assets/images/card/cardPile-soulmate.png" alt="pile of soulmate cards" />

          <a href="soulmatePick.html" class="spr-btn spr-btn--shuffle btn_shufflethecards_soulmate" title="Shuffle the Cards">
            <span class="sr-only"> Shuffle the Cards </span>
          </a>
        </div>
      </div>
    </main>
    {% include_relative inc/footer.html %}
  </body>
</html>
